@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* cursor: url(../image/kunai.png), auto; */
  /* background-color: #24252A; */

}
/* body{
  background-image: url("https://i.imgur.com/4ptF5hS.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: 1;
  background-size: 25%;
  background-position: left-bottom;
} */
li, a, button, h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;

}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 5%;
  background-color: #111;

}

.logo {
  cursor: pointer;
}

.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav_links li a {
  transition: all 0.3s ease 0s;

}

.nav_links li a:hover {
    color: #0089a9;
}
button {
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
button:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

body, html{
  height:100%;
  margin:0;
  font-size:16px;
  font-family:"Lato", sans-serif;
  font-weight:400;
  line-height:1.8em;
  color:#666;
}

.pimg1, .pimg2, .pimg3, .pimg4, .pimg5, .pimg6, .pimg7, .pimg8, .pimg9, .pimg10,
.pimg11, .pimg12, .pimg13, .pimg14, .pimg15, .pimg16{
  position:relative;
  opacity:0.90;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;

  /*
    fixed = parallax
    scroll = normal
  */
  background-attachment:fixed;
}
#background-video {
  width: 100vw;
  height: 100vh;
  /* margin: 0px; */
  object-fit: cover;
  /* position: fixed; */
  left: 0
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
/* .render {
left: -3%;
width: 600px !important;

position: fixed;
z-index: 1;
} */
.pimg1{
  background-image:url('../image/image1.jpg');
  min-height:100%;
}
.pimg2{
  background-image:url('../image/image2.jpg');
  min-height:400px;
}
.pimg3{
  background-image:url('../image/image3.jpg');
  min-height:400px;
}
.pimg4{
  background-image:url('../image/image (6).jpg');
  min-height:400px;
}
.pimg5{
  background-image:url('../image/image (7).jpg');
  min-height:400px;
}
.pimg6{
  background-image:url('../image/image (8).jpg');
  min-height:400px;
}
.pimg7{
  background-image:url('../image/image (9).jpg');
  min-height:400px;
}
.pimg8{
  background-image:url('../image/image (10).jpg');
  min-height:400px;
}
.pimg9{
  background-image:url('../image/image (11).jpg');
  min-height:400px;
}
.pimg10{
  background-image:url('../image/image (12).jpg');
  min-height:400px;
}
.pimg11{
  background-image:url('../image/image (13).jpg');
  min-height:400px;
}
.pimg12{
  background-image:url('../image/image (1).jpg');
  min-height:100%;
}
.pimg13{
  background-image:url('../image/image (2).jpg');
  min-height:400px;
}
.pimg14{
  background-image:url('../image/image (3).jpg');
  min-height:400px;
}
.pimg15{
  background-image:url('../image/image (4).jpg');
  min-height:100%;
}
.pimg16{
  background-image:url('../image/image (5).jpg');
  min-height:100%;
}


.section{
  text-align:center;
  padding:50px 80px;
}

.section-light{
  background-color:#f4f4f4;
  color:#666;
}

.section-title{
  background-color:#282e34;
}

#title {
  color: #ddd;
}

.section-dark{
  background-color:#282e34;
  color:#ddd;
}

.ptext{
  position:absolute;
  top:50%;
  width:100%;
  text-align:center;
  color:#000;
  font-size:27px;
  letter-spacing:8px;
  text-transform:uppercase;
}

.ptext .border{
  background-color:#111;
  color:#fff;
  padding:20px;
}

.ptext .border.trans{
  background-color:transparent;
}

@media(max-width:568px){
  .pimg1, .pimg2, .pimg3{
    background-attachment:scroll;
  }
}
