.container {
  background-color:#282e34;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: space-between;
  align-items: center;
  justify-content: center;
  /* color: #ddd; */
  /* overflow: hidden; */
}

.card {
  margin: 40px;
  display: grid;
  grid-template-columns: 300px;
  grid-auto-rows: 400px 150px ;
  grid-template-areas: "image" "text";

  font-family: roboto;
  /* border-radius: 18px; */
  background: white;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  text-align: center;

  transition: 0.5s ease;
  cursor: pointer;
}
/* .anime1 {
  background: url("../image/anime1.jpg");
  grid-area: image;
  background-size: cover;

} */

.anime1 {  background: url("../image/anime1.jpg"); }
.anime2 {  background: url("../image/anime2.jpg"); }
.anime3 {  background: url("../image/anime3.jpg"); }
.anime4 {  background: url("../image/anime4.jpg"); }
.anime5 {  background: url("../image/anime5.jpg"); }
.anime6 {  background: url("../image/anime8.jpg"); }
.anime7 {  background: url("../image/anime7.jpg"); }
.anime8 {  background: url("../image/anime6.jpg"); }
.anime9 {  background: url("../image/anime10.jpg"); }
.anime10 {  background: url("../image/anime9.jpg"); }
.anime11 {  background: url("../image/anime14.jpeg"); }
.anime12 {  background: url("../image/anime12.png"); }
.anime13 {  background: url("../image/anime11.jpg"); }
.anime14 {  background: url("../image/anime13.jfif"); }
.anime15 {  background: url("../image/anime15.jpg"); }
.anime16 {  background: url("../image/anime16.jpg"); }
.anime17 {  background: url("../image/anime17.jpeg"); }
.anime18 {  background: url("../image/anime18.jpg"); }
.anime19 {  background: url("../image/anime19.jpeg"); }
.anime20 {  background: url("../image/anime20.jpg"); }
.anime21 {  background: url("../image/anime26.png"); }
.anime22 {  background: url("../image/anime27.jpg"); }
.anime23 {  background: url("../image/anime28.jpg"); }
.anime24 {  background: url("../image/anime29.png"); }
.anime25 {  background: url("../image/anime30.jpg"); }
.anime26 {  background: url("../image/anime21.jpg"); }
.anime27 {  background: url("../image/anime22.jpg"); }
.anime28 {  background: url("../image/anime23.jpg"); }
.anime29 {  background: url("../image/anime24.jpg"); }
.anime30 {  background: url("../image/anime25.jpeg"); }

.card-image {
  grid-area: image;
  background-size: cover;

}
.card-text {
  grid-area: text;
  margin: 35px;
}
.card-text .date{
  color: rgb(255, 7, 110);
  font-size: 13px;
}
.card-text p{
  color: grey;
  font-size: 15px;
  font-weight: 300;
}
.card-text h2{
  margin-top: 0px;
  font-size: 28px;
}
.card-stats {
  grid-area: stats;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  /* border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px; */
  background: rgb(257, 7, 110);
}
.card-stats .stat {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  color: white;
}
.card-stats .type{
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
}
.card-stats .value {
  font-size: 22px;
  font-weight: 500;
}
.card-stats .border{
  border-left: 1px solid rgb(172, 26, 87);
  border-right: 1px solid rgb(172, 26, 87);
}
.acrd-stats .value sup{
  font-size: 12px;
}
.card:hover {
  transform: scale(1.2);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
}
